

          <div class="inner cover index">
            <h1 class="cover-heading" id="ago"><span class="ago">The ideology</h1>
            <p class="lead down">Aago helps you make a list of your tasks and manage them accordingly using Covey's time management grid</p>
            <p class="lead double-down">
              <a href="/signup/form" class="btn btn-lg btn-primary">Sign Up</a>
              <a href="/login/form" class="btn btn-lg btn-default">Login</a>
            </p>
          </div>